@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 30px;
}

.bar {
  display: flex;
  width: 800px;
  padding-bottom: 10px;
}

.main {
  width: 500px;
  height: 500px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Montserrat";
  font-size: 20px;
  padding-top: 20px;
}

.bar button {
  border: none;
  padding: 20px;
  width: 100%;
  background: rgb(54, 53, 53);
  color: white;
  font-size: 18px;
  font-family: "Spartan";
  display: flex;
  justify-content: space-between;
  outline: none;
}

.trial {
  border: none;
  font-size: 18px;
  font-family: "Spartan";
  height: 40px;
  width: 250px;
  background-color: red;
  color: white;
  text-transform: uppercase;
  outline: none;
}
